/*  
 ===============   
 Fonts  
 ===============  
 */  
 @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");  
 /*  
 ===============   
 Variables  
 ===============  
 */  
 :root {  
  /* dark shades of primary color*/  
  --clr-primary-1: hsl(205, 86%, 17%);  
  --clr-primary-2: hsl(205, 77%, 27%);  
  --clr-primary-3: hsl(205, 72%, 37%);  
  --clr-primary-4: hsl(205, 63%, 48%);  
  /* primary/main color */  
  --clr-primary-5: #49a6e9;  
  /* lighter shades of primary color */  
  --clr-primary-6: hsl(205, 89%, 70%);  
  --clr-primary-7: hsl(205, 90%, 76%);  
  --clr-primary-8: hsl(205, 86%, 81%);  
  --clr-primary-9: hsl(205, 90%, 88%);  
  --clr-primary-10: hsl(205, 100%, 96%);  
  /* darkest grey - used for headings */  
  --clr-grey-1: hsl(209, 61%, 16%);  
  --clr-grey-2: hsl(211, 39%, 23%);  
  --clr-grey-3: hsl(209, 34%, 30%);  
  --clr-grey-4: hsl(209, 28%, 39%);  
  /* grey used for paragraphs */  
  --clr-grey-5: hsl(210, 22%, 49%);  
  --clr-grey-6: hsl(209, 23%, 60%);  
  --clr-grey-7: hsl(211, 27%, 70%);  
  --clr-grey-8: hsl(210, 31%, 80%);  
  --clr-grey-9: hsl(212, 33%, 89%);  
  --clr-grey-10: hsl(210, 36%, 96%);  
  --clr-white: #fff;  
  --clr-red-dark: hsl(360, 67%, 44%);  
  --clr-red-light: hsl(360, 71%, 66%);  
  --clr-green-dark: hsl(125, 67%, 44%);  
  --clr-green-light: hsl(125, 71%, 66%);  
  --clr-black: #222;  
  --ff-primary: "Roboto", sans-serif;  
  --ff-secondary: "Open Sans", sans-serif;  
  --transition: all 0.3s linear;  
  --spacing: 0.25rem;  
  --radius: 0.5rem;  
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  
  --max-width: 1170px;  
  --fixed-width: 620px;  
 }  
 /*  
 ===============   
 Global Styles  
 ===============  
 */  
 *,  
 ::after,  
 ::before {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
 }  
 .body {  
  font-family: var(--ff-secondary);  
  background: var(--clr-grey-10);  
  color: var(--clr-grey-1);  
  line-height: 1.5;  
  font-size: 0.875rem;  
 } 

 img:not(.logo) {  
  width: 100%;  
 }  
 img {  
  display: block;  
 }  

 h2,    
 h4 {  
  letter-spacing: var(--spacing);  
  text-transform: capitalize;  
  line-height: 1.25;  
  margin-bottom: 0.75rem;  
  font-family: var(--ff-primary);  
 }  
 h2 {  
  font-size: 2rem;  
 }   
 h4 {  
  font-size: 0.875rem;  
 }  
 p {  
  margin-bottom: 1.25rem;  
  color: var(--clr-grey-5);  
 }  
 @media screen and (min-width: 800px) {  
  h2 {  
   font-size: 2.5rem;  
  }  
  h4 {  
   font-size: 1rem;  
  }  
  body {  
   font-size: 1rem;  
  }   
  h2,  
  h4 {  
   line-height: 1;  
  }  
 }  
 /* global classes */  
 h4 {  
  text-transform: uppercase;  
  background: transparent;  
  color: var(--clr-black);  
  padding: 0.375rem 0.75rem;  
  letter-spacing: var(--spacing);  
  text-align: center;
  transition: var(--transition);  
  font-size: 0.875rem;  
  border: 2px solid var(--clr-black);  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);  
  border-radius: var(--radius);  
 }
 /* section */  
 .section {  
  padding: 5rem 0;  
 }  
 .section-center {  
  width: 90vw;  
  margin: 0 auto;  
  max-width: 1170px;  
 }  
 @media screen and (min-width: 992px) {  
  .section-center {  
   width: 95vw;  
  }  
 }  
 main {  
  min-height: 100vh;  
  display: grid;  
  place-items: center;  
 }  
 /*  
 ===============   
 About  
 ===============  
 */  
 .title {  
  text-align: center;  
  margin-bottom: 4rem;  
 }  
 .title p {  
  width: 80%;  
  margin: 0 auto;  
 }  
 .about-img {  
  margin-bottom: 2rem;  
 }  
 .about-img img {  
  border-radius: var(--radius);  
  object-fit: cover;  
  height: 20rem;  
 }  
 @media screen and (min-width: 992px) {  
  .about-img {  
   margin-bottom: 0;  
  }  
  .about-center {  
   display: grid;  
   grid-template-columns: 1fr 1fr;  
   column-gap: 2rem;  
  }  
 }  
 .about {  
  background: var(--clr-white);  
  border-radius: var(--radius);  
  display: grid;  
  grid-template-rows: auto 1fr;  
 }
 
 .about-content {  
  border-bottom-left-radius: var(--radius);  
  border-bottom-right-radius: var(--radius);  
  padding: 2rem 1.5rem;  
 }