.bodyCat{  
    margin: 0;  
    padding: 0;  
    min-height: 100vh;  
    background: #fff;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    font-family: consolas;  
  }  
  .container{  
    position: relative;  
    display: flex;  
    flex-direction: column;
    justify-content: space-between;  
  }  
   .container .title h1 {  
    color: #F8A22F;
    text-align: center;  
    margin-bottom: 4rem; 
    margin-left: 6rem; 
    width: 80%;  
    margin: 0 auto;  
   } 
  .container .card{  
    position: relative;  
    cursor: pointer;  
  }  
  .categories{
      display: flex;
      flex-direction: row;
  }
  .container .card .face{  
    width: 300px;  
    height: 200px;  
    transition: 0.5s;  
  }  
  .container .card .face.face1{  
    position: relative;  
    background: #F8A22F;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    z-index: 1;  
    transform: translateY(100px);  
  }  
  .container .card:hover .face.face1{  
    background: #15603C;  
    transform: translateY(0);  
  }  
  .container .card .face.face1 .content{  
    opacity: 1;  
    transition: 0.5s;  
  }  
  .container .card:hover .face.face1 .content{  
    opacity: 1;  
  }  
  .container .card .face.face1 .content img{  
    max-width: 100px; 
  }  
  .container .card .face.face1 .content a{  
    margin: 15px 0 0;  
    display: inline-block;  
    text-decoration: none;  
    font-weight: 900;  
    color: #EAF2E2;  
    padding: 5px;  
    border: 1px solid #333;  
  }  
  @media screen and (max-width: 800px) {  
    .container{
      flex-direction: column;
    }
 
   }  