@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@400;700&display=swap");
$dark: #15603c;
$light: #eaf2e2;
$animation-speed-fast: 0.8s;
$animation-speed-slow: 1s;
.bodyCat1 {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #b3e269;
  font-family: "Libre Baskerville", serif;
  font-family: "Source Sans Pro", sans-serif;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.card1 {
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  perspective: 1000px;
  transform: perspective(1000px) translateY(0);
  transform-style: preserve-3d;
  transition: transform $animation-speed-fast ease-in-out;
  &.light {
    background-color: $light;
    color: $dark;
    .purchase-button {
      height: max;
      width: 320px;
      border: 1px solid #f8a22f;
      overflow: auto;
    }
  }
}
.container1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}
.container1 h2 {
  height: inherit;
  vertical-align: bottom;
  margin-top: 2rem;
}
.card-container {
  display: flex;
}
.card-wrapper:hover {
  .card1 {
    transform: rotateY(179deg);
    z-index: 2;
    .text-overlay {
      opacity: 0;
      transform-style: preserve-3d;
      z-index: 1;
    }
    .purchase-button-container {
      opacity: 1;
    }
  }
}
.text-overlay {
  transform: perspective(1000px) translateY(0) translateZ(80px);
  transition: transform $animation-speed-fast ease-in-out,
    opacity $animation-speed-slow ease;
  pointer-events: none;
  width: 100%;
  perspective: inherit;
  padding-top: 50px;
}
h1 {
  color: $dark;
  margin-top: 10%;
}
h2 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}
.purchase-button-container {
  color: #f8a22f;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
  opacity: 0;
  z-index: -1;
  transition: transform $animation-speed-fast ease-in-out,
    opacity $animation-speed-slow ease;
  width: 100%;
  height: 100%;
  .purchase-button {
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color 0.25s ease, color 0.25s ease;
    cursor: pointer;
    &.light:hover {
      background-color: #f8a22f;
      color: $light;
    }
  }
}
.details-text {
  margin-top: 20px;
  display: flex;
  gap: 10px 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #858585;
  font-size: 0.75rem;
}
small {
  font-size: 0.75rem;
  font-weight: 100;
  color: #858585;
}
.fa-solid {
  font-size: 3rem;
}
.back-h2 {
  font-size: 2rem;
}
@media screen and (max-width: 900px) {
  .card-container {
    display: flex;
    flex-direction: column;
    column-gap: 3rem;
  }
  .card1 {
    width: 400px;
    height: 300px;
  }
}
